

:root{
 --bg-green:#82b440;
 --f-size:25px;
 --theme-xl-width:1350px;
 --bg-blue:#3613FA;
 --bg-light-blue:#9C96BE;
 --bg-box: #F7F7F7;
 --bg-pink:#FC4CDA;
 --bg-light-pink:#FC4CDA29;
 --bg-dark-blue:#140B43;
 --bg-black-blue:#231375;
}/* TopnavBar */

.envatoimg{
  background-image: url("Envato.png");
 
}
.img-width{
  width:15px;

}
.t-size{
  font-size: var(--f-size);
  font-weight: 500;
}
.t-size1{
  color:var(--bg-green);
  font-size: var(--f-size);
  font-weight: 100;

}
.buy{
background-color: var(--bg-green);
}

/* Header */

.main-head{
  background-color: white;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}


.items-1,.items-2,.items-3,.items-4,.items-5{
  cursor:pointer;
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 500;
}
:is(.items-1,.items-2,.items-3,.items-4):hover{
  color:var(--bg-blue)
}
.item-1-child:hover{
  color:var(--bg-blue)
}
.f-weight{
  font-size: 10px;
  font-weight: 900;
  color: black;
}
.items-5{
  background-color: var(--bg-blue);
  color:white;
  border:none;
  width:150px;
  font-weight: 700;
  
}
.feature-parent{
  position: relative;
}
.feature-child{
  border-radius: 15px;
  width:600px;
  ;
  position: absolute;
  left:-23px;
}
.primary{
  color:var(--bg-blue);
  padding:8px;
  margin:5px;
  font-size: 40px;
  border-radius: 10px;
  background-color:rgba(221, 221, 240, 0.7);
}
.light-pink{
  
    color:var(--bg-pink);
    padding:8px;
    margin:5px;
    font-size: 40px;
    border-radius: 10px;
    background-color:var(--bg-light-pink)
  }
.light-yellow{
  
    color:darkorange;
    padding:8px;
    margin:5px;
    font-size: 40px;
    border-radius: 10px;
    background-color:rgba(228, 228, 134, 0.2);
  
}
.voilet{
  
    color:blueviolet;
    padding:5px;
    margin:5px;
    font-size: 40px;
    border-radius: 10px;
    background-color:rgba(238, 206, 239, 0.7);
  
}
.light-blue{
  
    color:cornflowerblue;
    padding:5px;
    margin:5px;
    font-size: 40px;
    border-radius: 10px;
    background-color:rgba(174, 208, 234, 0.7);
  
}
.element-parent{
  position: relative;
}
.element-child{
  border-radius: 15px;
  width:600px;
  ;
  position: absolute;
  right:20px;
}

/* mediumdevice */
.list-parent{
  position: relative;
}
.list-child{
  border-radius:15px;
  left:0px;
  position: absolute;
  top:45px;

}
.list-child1{
  border-radius:15px;
  position: absolute;
  top:100px;
  left:0;
}
/* Headersection */
.btn-start{
  text-transform: capitalize;
  background-color: var(--bg-blue);
  color:white;
  border:none;
  height: 55px;
  width:170px;
  font-weight: 700;
}
.txt-size{
  color:var(--bg-blue);
  font-size:30px;
  font-weight: 800;
}
.title{
  font-size: 45px;
  font-weight: 800;
  text-transform: capitalize;
  font-family: Arial, Helvetica, sans-serif;
}
.title-content{
  font-size: 18px;
  font-weight: 400;
  text-transform: capitalize;
  font-family: Arial, Helvetica, sans-serif;
}
/* Boxe */

.bg-box{
  background-color: var(--bg-box);
  
  padding:20px;
  margin:px;
  border-radius:10px;
}
.icon-img{
  width:130px;

}
.icon-content{
  font-weight: 800;
  font-size: 18px;
  padding:1px 55px 20px 35px;

}

/* Imgcontent */

.txt-color{
  color:var(--bg-blue);
  font-weight: 700;
  font-size: 20px;
}
.design{
  font-size:42px;
  
  font-weight: 900;
  margin:1px 80px 1px 80px;
  padding:1px 100px 1px 100px;
  font-family: Arial, Helvetica, sans-serif;
}
iframe{
  width: 50%;
  height: 50%;
  border-radius: 10px;
  border:1px solid black;
}

/* Content */

.bg-design{
  background-image: url('https://jupiterx.com/wp-content/uploads/2021/12/431wAMzQ.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}
.re-design{
  color:white;
font-size: 38px;
font-weight: 700;
}
.expert{
  color:var(--bg-blue);

}
.perform{
  color:var(--bg-pink);
}
.recontent{
  margin:12px 1px 1px 1px;
  color:var(--bg-light-blue);
  /* font-family:"Poppins"; */
  font-family: "Poppins, Sans-serif";
  font-size: 19px;
  font-weight: 400;
  width: 540px;
}
.entirecontent{
  color:white;
  font-size: 18px;
  font-weight: 800;
}
.enjoycontent{
  color:var(--bg-light-blue);
  font-family: "Poppins, Sans-serif";
  font-size: 17px;
  font-weight: 400;
}

/* shopheader */
.new{
  background-color: var(--bg-light-pink);
  width:50px;
  text-align: center;
  padding:8px;
  
  color:var(--bg-pink);
  font-weight: 700;
  text-transform: capitalize;
  font-size: 15px;
  border-radius: 50px;
}
.main-layout{
  width:70%
}
.layout{
  color: var(--bg-blue);
  font-family: "Sans-serif";
  
  line-height:3rem;
  font-size: 40px;
  font-weight: 900;
}
.layout1{
  
  font-family: 'Poppins', sans-serif;
/* font-family: 'Roboto', sans-serif; */
  font-size: 35px;
  font-weight: 900;
}
.discover{
  color:var(--bg-blue);
  font-weight: 500;
  font-size: larger;
  font-family: Arial, Helvetica, sans-serif;
}
.layout3{
  font-family: 'Poppins', sans-serif;
  color:rgba(0,0,0,0.7);

}
.custom-head{
  font-size: 15px;
  font-weight: 800;
  width:70%;
  padding:6px 0px 6px 0px;
}
.custom-content{
  font-size: 14px;
  width:75%;
}

/* Products */

.noone,.notwo,.nothree ,.sales,.drive-sales{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  font-weight: 900;
line-height: 4rem;
}
.notwo,.sales{
  color:var(--bg-blue);
}

/* Imgdata */

.bg-img{
  background-color:var(--bg-box);
  border-radius: 10px;
}
.txt-centr{
  font-weight: 700;
}

/* Funnels */
.only{
  background-color: var(--bg-light-pink);
  color:var(--bg-pink);
  border-radius: 30px;
  padding: 8px;
  font-weight: 700;
  margin:5px;
  width:150px;
  margin:0 auto;
}
.sales,.drive-sales{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: 900;
line-height: 4rem;
text-align: center;
}

.drive-sales{
  margin:0 auto;
  width:85%
}
.drag-content{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
  color:rgba(0,0,0,0.8);
  width:50%
}

/* Footer */

.footer{
  background-color:var(--bg-dark-blue);
}
.faicon{
  background-color: var(--bg-black-blue);
  font-size: 40px;
  color:white;

}
.img-center{
  margin: 0 auto;;
}

/* heavyfeature */

.bg-feature{
  background-color: var(--bg-box);
}
.heavy-head{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 45px;
  line-height:1px;
}
.content-with-new{
  color:var(--bg-blue);
  font-size: 16px;
  font-weight: 800;
 
  font-family: Arial, Helvetica, sans-serif;
}
.generate{
  font-size: 17px;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
}
/* Readymadeweb */

 .readymade-head{
  position: relative
  ;
}
.readymade-img1{
  position: absolute;
  top:50px;
  left:0px;
} 
.img-padding{
  border-radius: 15px;
  border:1px solid var(--bg-blue)
}
.ready-img{
width:113%
}
.readymade-img2{
  width:24.8%;
 position: absolute;
 top:50px;
 right:24px;
 } 

.ready-made{
  font-size: 40px;
  font-weight: 900;
  color:white;
  font-family: Arial, Helvetica, sans-serif;
}
.img-w{
width:50%;
}
.checkready-btn{
  
  color:white;
  padding:15px;
  border-radius: 10px;;
  font-family: Arial, Helvetica, sans-serif;
  margin:0 auto;
  width:48%;
  border:2px solid white;
}
.checkready-btn:hover{
border:none;
transition: 2;
background-color:#211375
}

.numberfour-img{
  width:70%
}
/* buytool */

.buytool-head{
  background-image: url('https://jupiterx.com/wp-content/uploads/2022/01/cta-bg-scaled.jpg');
  background-size: cover;
  background-position: center center;
}

.buy-tool{
  font-size:45px;
  font-weight: 800;
  line-height: 3.5rem;
  font-family: Arial, Helvetica, sans-serif;
}

.saves{
  color:var(--bg-pink);
  font-size: 45px;
  font-weight: 800;
}

.category{
  font-size: 15px;
  padding:5px;
  color:var(--bg-light-blue);
  
}
.category1{
  padding:5px;
  font-size: 18px;
  color:white;
}
.cat-head-price{
  width:45%;
  margin:0 auto;
}


.hr-line{
  
  width: 900px;
  box-shadow: 0px 0px 0px 1px var(--bg-light-blue);
  background-color:var(--bg-light-blue);
}
.pay-once{
  width:65%;
  margin:0 auto;
}
.buy-img{
  width:50%;
  margin:0px auto;
}
.buy-btn{
  border:none;
  font-size: 15px;
  font-weight: 700;
  border-radius: 15px;

  font-family: Arial, Helvetica, sans-serif;
}
.number1 ,.number2{
  
  font-size: 30px;
  font-weight: 800;
}
.number2{
  color:white
}
.number1{
  color:var(--bg-light-blue);
}
.pay{
  text-align: center;
}


/* swipper demo */

#app { height: 100% }




.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.jupiter-x{
  width:70%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 800;
margin:0 auto;
}
.jupiter-img{
  width: 12%;
  margin:0 auto;
}
/* Customerclass */

.best-class{
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}
.best-class1{
  font-size: 17px;
  font-weight: 400;
}
.star{
  color:darkorange;
  /* background-color:darkorange; */
}
.star-vedio{
  background-image:url('https://jupiterx.com/wp-content/uploads/2022/01/review-02@2x.png');
  
}
.jupiter-star-content{
  background-color: white;
  border-radius: 15px;
  /* box-shadow: 5px 30px 2px 1px black ; */
  border:2px solid hsla(201, 45%, 84%, 0.6)
}
.jupiter-star-content:hover{
  box-shadow: 4px 10px 39px -23px black;
}
.starman{
  font-size: 18px;
  
  padding:15px;
  text-align: center;
  font-weight: 800;
  font-family: Arial, Helvetica, sans-serif;
}
.best-content{
  
  font-size: 18px;
}
.head1{
  background-color:var(--bg-blue);
}
.fa-bars:hover{
color:var(--bg-blue)
}
.fa-times:hover{
  color:var(--bg-blue);
  animation: mymove 1s ;

}
@keyframes mymove {
  50%{
    transform: rotate(180deg);
  }
}
.child-content,.featurechild{
  font-size: 15px;
  
  font-weight: 500;
}
.img-padding{
  width:100%
}

@media  screen and (max-width:995px) {
  body{
    overflow-x: hidden;
  }
  .title{
    font-size: 25px;
    
  }
  .title-content{
    font-size: 15px;
    
  }
  .conversionimg{
    width:300px;
  }
  .design{
    font-size:20px;
    margin:1px 30px 1px 30px;
  padding:1px 30px 1px 30px;
  }
  iframe{
    width: 100%;
    height: 60%;
    
  }
  .heavy-head{
    
  font-size: 35px;
  
  }
  
  .jupiter-x{
    font-size: 30px;
  }
  .buy-tool,.saves{
    font-size: 35px;
  }
  .cat-head-price{
    width: 60%;
  }
  .buy-img{
    
      width:100%;
      margin:0px auto;
  
  }
  .buy-btn{
    

/* padding-left: 90px;
padding-right: 90px; */
  }
  .number1{

  }
}
@media  screen and (max-width:790px) {
  iframe{
    width: 100%;
    height: 100%;
    
  }
  .recontent{
    margin:12px 1px 1px 1px;
  
  
  width: 100%;
  }
  .re-design{
    font-size: 25px;
  }
  .sales{
    line-height: 2rem;
    font-size: 20px;
  }
  .drive-sales{
    font-size: 28px;
    width: 100%;
    line-height: 2.7rem;
  }
  .discover{
    font-size: 15px;
  }
  .heavy-head{
    font-size: 25px;
    line-height: 3rem;
  }
  .ready-made{
    font-size: 25px;
  }
  .checkready-btn{
    font-size: 15px;
  }
  .jupiter-x{
    font-size: 20px;

  }
  .buy-tool,.saves{
    font-size: 20px;
    line-height: 2rem;
  }
  .number1,.number2{
    font-size: 20px;
  }
  .cat-price{
    display: flex;
    flex-direction: column-reverse;
  }
}

@media  screen and (max-width:500px) {
  .design{
    font-size:20px;
    margin:1px 30px 1px 30px;
  padding:1px 20px 1px 20px;
  }
  iframe{
    width: 100%;
    height: 100%;
   
  }
  .noone,.nothree,.notwo{
    font-size: 30px;
    line-height: 2.5rem;
    
  }
  .layout1{
font-size: 20px;
  }
  .discover{
    font-size: 15px;
  }
  .readymade-img1{
position: relative;
  }
  .readymade-img2{
    position: relative;
  }
  .img-padding{
    width:150%;
    
  }
.ready-img{
  width:20000%
}
.jupiter-x{
  font-size: 15px;
  
}
.art{
  text-align: center;
  width:50%;

}
.cat-head-price{
  width: 130%;
}
.cat-price{
  display: flex;
  flex-direction: column-reverse;
}
.txt-size{
  font-size: 20px;
}
}
@media  screen and (max-width:380px) {
  
  .recontent{
    margin:12px 1px 1px 1px;
  
  
  width: 100%;
  }
  .design{
    font-size:15px;
    margin:1px 2px 1px 2px;
  padding:1px 5px 1px 5px;
  }
  iframe{
    width: 100%;
    height: 100%;
    
  }
  .buy-tool,.saves{
    font-size: 15px;
    line-height: 2rem;
  }
  .number1,.number2{
    font-size: 20px;
  }
  .cat-price{
    display: flex;
    flex-direction: column-reverse;
  }
  .buy-btn{
    font-size:10px;
      }
     
        
}